/*
 * @file wui-switch-0.6.root.css
 * @class WUISwitch
 * @version 0.6
 * @author Sergio E. Belmar V. (wuijs.project@gmail.com)
 * @copyright Sergio E. Belmar V. (wuijs.project@gmail.com)
 */

:root {

	/* wui-switch */

	--wui-switch-button-size: 30px;
	--wui-switch-bordercolor-out: rgb(from #1e90ff r g b / 20%);
	--wui-switch-bordercolor-over: #1e90ff;
	--wui-switch-bordercolor-activated: #1e90ff;
	--wui-switch-bordercolor-disabled: #d5dce3;
	--wui-switch-bgcolor-out: rgb(from #1e90ff r g b / 4%);
	--wui-switch-bgcolor-over: rgb(from #1e90ff r g b / 4%);
	--wui-switch-bgcolor-activated: #1e90ff;
	--wui-switch-bgcolor-disabled: rgb(from #d5dce3 r g b / 20%);
	--wui-switch-button-bordercolor-out: rgb(from #1e90ff r g b / 20%);
	--wui-switch-button-bordercolor-over: #1e90ff;
	--wui-switch-button-bordercolor-activated: #1e90ff;
	--wui-switch-button-bordercolor-disabled: #d5dce3;
	--wui-switch-button-bgcolor-out: #f6f6fa;
	--wui-switch-button-bgcolor-over: rgb(from #1e90ff r g b / 4%);
	--wui-switch-button-bgcolor-activated: #f6f6fa;
	--wui-switch-button-bgcolor-disabled: #d5dce3;
}