/*
@file wui-tabs-0.6.root.css
@class WUITabs
@version 0.6
@author Sergio E. Belmar V. (wuijs.project@gmail.com)
@copyright Sergio E. Belmar V. (wuijs.project@gmail.com)
*/

:root {
	--wui-tabs-shadowcolor: #959da5;
	--wui-tabs-borderradius: 10px;
	--wui-tabs-borderwidth: 0px;
	--wui-tabs-bordercolor: #f0f0f3;
	--wui-tabs-bgcolor: #fdfdfe;
	--wui-tabs-scroll-bgcolor-out: rgb(from #353a40 r g b / 40%);
	--wui-tabs-scroll-bgcolor-over: rgb(from #353a40 r g b / 70%);
	--wui-tabs-tab-bgcolor-out: #efeff6;
	--wui-tabs-tab-bgcolor-over: #efeff6;
	--wui-tabs-tab-bgcolor-selected: transparent;
	--wui-tabs-tab-iconcolor-out: #1e90ff;
	--wui-tabs-tab-iconcolor-over: #1e90ff;
	--wui-tabs-tab-iconcolor-selected: #1e90ff;
	--wui-tabs-tab-textcolor-out: #2d3a47;
	--wui-tabs-tab-textcolor-over: #1e90ff;
	--wui-tabs-tab-textcolor-selected: #1e90ff;
}
